@import 'styles/variables/variables';

@mixin vertically-centered-inline-flex-box {
  align-items: center;
  display: inline-flex;
}

@mixin centered-flex-box {
  align-items: center;
  display: flex;
}

@mixin hide-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-container {
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
  width: 100%;
}

.visible { display: block; }
.hidden { display: none; }
.text-center { text-align: center; }

.vertical-line {
  border-right: 1px solid;
  height: 20px;

  &.light-grey {
    border-color: $light-grey;
  }

  &.grey {
    border-color: $grey;
  }

  &.dark-grey {
    border-color: $dark-grey;
  }
}

.no-contents-message {
  @include centered-flex-box;
  flex-direction: column;
  margin-top: 10vh;

  img {
    height: 20vh;
    margin-bottom: $medium-margin;
  }

  &.right-panel {
    color: $off-white;
    margin-top: $extra-large-margin;

    img {
      height: 10vh;
    }
  }
}

// mobile view (landscape)
@media (min-width: 0) and (max-height: 415px) {
  .page-container {
    overflow: auto;
  }

  .panel {
    min-height: 250px;
    overflow: auto;
  }
}

// mobile view (portrait)
@media (min-width: 0) and (min-height: 416px) {
  .page-container {
    height: 100%;
    grid-template-columns: [center-start] 1fr [center-end];
    grid-template-rows: [header-start] $header-height [header-end center-start] 1fr [center-end];

    #header {
      grid-column: center-start / center-end;
      grid-row: header-start / header-end;
    }

    #center-panel {
      display: flex;
      flex-direction: column;
      grid-column: center-start / center-end;
      grid-row: center-start / center-end;
    }

    #right-panel {
      display: none;
    }
  }

  .panel {
    min-height: 0;
    overflow: hidden;
  }
}

// desktop view
@media (min-width: 850px) {
  .page-container {
    height: 100%;
    grid-template-columns: [center-start] 1fr [center-end right-start] $right-sidebar-width [right-end];
    grid-template-rows: [header-start] $header-height [header-end center-start] 1fr [center-end];

    #header {
      grid-column: center-start / center-end;
      grid-row: header-start / header-end;
    }

    #center-panel {
      display: flex;
      flex-direction: column;
      grid-column: center-start / center-end;
      grid-row: center-start / center-end;
    }

    #right-panel {
      background-color: #083F89;
      display: inline-block;
      grid-column: right-start / right-end;
      grid-row: header-start / center-end;
      padding: $large-padding;
    }
  }

  .panel {
    min-height: 0;
    overflow: hidden;
  }
}
