.rich-button {
  border-radius: 8px;
  border-style: solid;
  padding: 10px 20px; }
  .rich-button.borderless {
    border: none; }
  .rich-button.transparent {
    background-color: transparent; }
  .rich-button.extra-small {
    font-size: 0.85rem; }
  .rich-button.small {
    font-size: 1rem; }
  .rich-button.medium {
    font-size: 1.25rem; }
  .rich-button.large {
    font-size: 1.5rem; }
  .rich-button.extra-large {
    font-size: 2rem; }
  .rich-button.blue.background.primary {
    background-color: #083F89;
    color: #FFFFFF; }
    .rich-button.blue.background.primary:hover {
      background-color: #5BA1C5; }
  .rich-button.blue.background.secondary {
    color: #FFFFFF;
    background-color: #5BA1C5; }
    .rich-button.blue.background.secondary:hover {
      background-color: #868686; }
  .rich-button.blue.text.primary {
    color: #083F89;
    border-color: #083F89; }
    .rich-button.blue.text.primary:hover {
      border-color: #5BA1C5;
      color: #5BA1C5; }
  .rich-button.blue.text.secondary {
    color: #5BA1C5;
    border-color: #5BA1C5; }
    .rich-button.blue.text.secondary:hover {
      border-color: #868686;
      color: #868686; }
