@mixin prevent-highlight {
  cursor: default;
  user-select: none;
};

.thick { font-family: $sub-header-font-family; };
.bold { font-family: $header-font-family; };

.h1-text { font-size: $h1-font-size; };
.h2-text { font-size: $h2-font-size; };
.h3-text { font-size: $h3-font-size; };
.h4-text { font-size: $h4-font-size; };
.h5-text { font-size: $h5-font-size; };
.h6-text { font-size: $h6-font-size; };
.p1-text { font-size: $p1-font-size; };
.p2-text { font-size: $p2-font-size; };

.text {
  // Neutrals
  &.white { color: $white; };
  &.off-white { color: $off-white; };
  &.off-black { color: $off-black; };
  &.light-grey { color: $light-grey; };
  &.grey { color: $grey; };
  &.medium-grey { color: $medium-grey; };
  &.dark-grey { color: $dark-grey; };
  &.disabled-grey { color: $disabled-grey; };
  // Colors
  &.primary-red { color: $primary-red; };
  &.secondary-red { color: $secondary-red; };
  &.primary-yellow { color: $primary-yellow; };
  &.secondary-yellow { color: $secondary-yellow; };
  &.primary-green { color: $primary-green; };
  &.secondary-green { color: $secondary-green; };
  &.primary-teal { color: $primary-teal; };
  &.secondary-teal { color: $secondary-teal; };
  &.primary-blue { color: $primary-blue; };
  &.secondary-blue { color: $secondary-blue; };
  &.primary-purple { color: $primary-purple; };
  &.secondary-purple { color: $secondary-purple; };
  // Misc
  &.transparent { color: transparent !important };
};

// Limits this feature to the desktop only because is breaks the mobile app experience
@media (min-width: 1024px) {
  .h1-text { @include prevent-highlight; };
  .h2-text { @include prevent-highlight; };
  .h3-text { @include prevent-highlight; };
  .h4-text { @include prevent-highlight; };
  .h5-text { @include prevent-highlight; };
  .h6-text { @include prevent-highlight; };
  .p1-text { @include prevent-highlight; };
  .p2-text { @include prevent-highlight; };
};
