body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

#root {
  height: 100%;
};
