$primary-blue: #083F89;
$secondary-blue: #5BA1C5;
$white: #FFFFFF;
$off-white: #E3E5EC;
$off-black: #232332;
$primary-red: #C6302C;
$secondary-red: #FF9F9C;
$primary-yellow: #FFDF2B;
$primary-green: #008037;
$secondary-green: #60BF89;
$light-grey: #D9D9D9;
$grey: #868686;
$medium-grey: #737373;
$mood-red: #FF2D26;
$mood-orange: #FFAA00;
$mood-yellow: #FFD930;
$mood-yellow-green: #6BE62E;
$dark-grey: #545454;
