.rich-button {
  align-items: center;
  display: flex;
  padding: 15px 20px;
  cursor: pointer;
  user-select: none;

  &.icon {
    background-color: transparent;
    border: none;
    padding: 5px;
  }

  &.outline {
    background-color: transparent;
    border-radius: 8px;
    border-style: solid;
  }

  &.solid {
    border-radius: 8px;
    border-style: solid;
  }

  &.underline {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px;
    padding-bottom: 5px;
  }

  &.extra-small { font-size: 0.85rem; }

  &.small { font-size: 1rem; }

  &.medium { font-size: 1.25rem; }

  &.large { font-size: 1.5rem; }

  &.extra-large { font-size: 2rem; }

  &.grey {
    &.background {
      &.primary {
        background-color: #737373;
        border-color: #737373;
        color: #FFFFFF;
        &:hover {
          background-color: #545454;
          border-color: #545454;
        }
      }

      &.secondary {
        background-color: #D9D9D9;
        border-color: #D9D9D9;
        color: #FFFFFF;
        &:hover {
          background-color: #737373;
          border-color: #737373;
          color: #FFFFFF;
        }
      }
    }

    &.text {
      &.primary {
        color: #737373;
        border-color: #737373;
        &:hover {
          border-color: #545454;
          color: #545454;
        }
      }

      &.secondary {
        color: #D9D9D9;
        border-color: #D9D9D9;
        &:hover {
          border-color: #737373;
          color: #737373;
        }
      }
    }
  }

  &.blue {
    &.background {
      &.primary {
        background-color: #083F89;
        border-color: #083F89;
        color: #FFFFFF;
        &:hover {
          background-color: #5BA1C5;
          border-color: #5BA1C5;
        }
      }

      &.secondary {
        background-color: #5BA1C5;
        border-color: #5BA1C5;
        color: #FFFFFF;
        &:hover {
          background-color: #868686;
          border-color: #868686;
        }
      }
    }

    &.text {
      &.primary {
        color: #083F89;
        border-color: #083F89;
        &:hover {
          border-color: #5BA1C5;
          color: #5BA1C5;
        }
      }

      &.secondary {
        color: #5BA1C5;
        border-color: #5BA1C5;
        &:hover {
          border-color: #868686;
          color: #868686;
        }
      }
    }
  }
}
