@import './styles/styles.scss';

.rich-collapsable-section {
  user-select: none;

  .header {
    align-items: center;
    display: flex;
    color: $off-black;
    cursor: default;
    margin: $medium-margin;

    div {
      align-items: center;
      display: flex;
      &:last-child {
        cursor: pointer;
        margin-left: auto;
      }
    }
  }

  &.clickable-header {
    cursor: pointer;
    .header-text { cursor: pointer; }
  }

  .divider {
    background-color: $off-black;
    border: none;
    height: 2px;
    margin: auto;
  }

  &.off-white {
    .header { color: $off-white; }
    .divider { background-color: $off-white; }
  }
}
